bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/*
.idea/.idea.PassGen/.idea/*
.idea/.idea.PassGen/.idea/dataSources.local.xml
.idea/.idea.PassGen/.idea/dataSources.xml
.idea/.idea.PassGen/.idea/dataSources/151178ae-f98a-44ed-8899-efef2b8c27ca.xml
.idea/.idea.PassGen/.idea/workspace.xml
.idea/.idea.PassGen/.idea/dataSources.local.xml
.idea/.idea.PassGen/.idea/dataSources.xml
.idea/.idea.PassGen/.idea/dataSources/151178ae-f98a-44ed-8899-efef2b8c27ca.xml
